.header {
  width: 100vw;
  background-color: rgb(49, 56, 91);
  padding: 18px 5vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  & ul {
    display: flex;
    list-style: none;
  }

  &__link {
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }
}
