.homepage {
  &__about {
    background-color: rgb(49, 56, 91);
    margin: auto;
    width: 50vw;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 10px;
  }
}
